<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Prestador </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs class="custom-tab-bar">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="paginainicial" href="/prestador/paginainicial">
      <div class="tab-content">
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
        <ion-label class="tab-label">Home</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button
      tab="disponibilidade-servico"
      href="/prestador/disponibilidade-servico"
    >
    <div class="tab-content">
      <img src="assets/icon/icon-solicitar.png" alt="Disponibilidade" class="tab-icon" />
      <ion-label class="tab-label">Disponivel</ion-label>
    </div>
    </ion-tab-button>

    <ion-tab-button tab="avaliacao-servico" href="/prestador/avaliacao-servico">
      <div class="tab-content">
        <img src="assets/icon/icon-avaliar.png" alt="Avaliar" class="tab-icon" />
        <ion-label class="tab-label">Avaliar</ion-label>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
