<ion-content class="fixed-content" [scrollY]="false" scroll-y="false">
  <ion-icon (click)="voltar()" class="back" name="arrow-back"> </ion-icon>
  <div class="content">
    <div class="header">
      <ion-img src="../../../assets/image/logo.svg" style="width: 240px; height: 240px;"></ion-img>
      <h1 class="title">Entrar</h1>
    </div>

    <form class="form">
      <ion-input class="input" [(ngModel)]="email" name="email" label="E-mail" labelPlacement="floating" fill="outline" mode="md"></ion-input>

      <ion-input class="input" [(ngModel)]="password" name="password" label="Senha" labelPlacement="floating" fill="outline" mode="md" type="{{mostrarSenha ? 'text' : 'password'}}" clearOnEdit="false" style="margin-top: 20px;">
        <ion-icon *ngIf="password !== ''" slot="end" name="{{mostrarSenha ? 'eye-off' : 'eye'}}" (click)="alternarVisibilidadeSenha()"></ion-icon>
      </ion-input>

      <div class="forgot-password">
        <ion-text (click)="resetar()">Esqueceu a senha?</ion-text>
      </div>

      <div class="flex-center">
        <ion-button class="intro-button" (click)="logarUsuario()">
          <span>Entrar</span>
        </ion-button>

        <!-- <ion-text class="or-text ion-margin">ou</ion-text>

        <ion-button class="social" (click)="continuarComGoogle()">
          <ion-img src="../../assets/empresa/google_icon.png" style="width: 20px; height: 20px;"></ion-img>
          <span class="social-text">Continuar com Google</span>
        </ion-button>

        <ion-button class="social" (click)="continuarComFacebook()">
          <ion-img src="../../assets/empresa/facebook_icon.png" style="width: 20px; height: 20px;"></ion-img>
          <span class="social-text">Continuar com Facebook</span>
        </ion-button> -->

        <ion-text class="signup-text">Não tem uma conta? <span class="blue-text" (click)="cadastrar()">Cadastrar</span></ion-text>
      </div>
    </form>
  </div>
</ion-content>
