ion-content {
  --background: #f0f0f0; // Definindo diretamente a cor
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
  color: #ff8902;
}

ion-item {
  --background: #f0f0f0;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #333333;
}

ion-label {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.payment-option {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
  color: #333;

  ion-icon {
    font-size: 24px;
    color: #ff8800; // Cor para os ícones
  }

  &.selected {
    background-color: #ffa500; /* Cor de destaque para a seleção */
    color: #ffffff;

    ion-icon {
      color: #ffffff;
    }
  }

  .custom-icon {
    width: 24px;  /* Defina o tamanho do ícone personalizado para que combine com os ícones padrão */
    height: 24px;
    margin-right: 8px;  /* Espaço entre o ícone e o texto */
  }
}

// .payment-option {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   font-size: 14px;
//   color: #333;

//
// }

.reference-value {
  font-weight: bold;
  color: #333;
}

.payment-section {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
}

.payment-label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.payment-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.section {
  margin-top: 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.description-textarea {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  color: #000;
}

.confirm-button {
  --background: #ff8902;
  --color: #fff;
  font-size: 16px;
  font-weight: bold;
  --border-radius: 8 px;
  margin-top: 20px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil

  &:hover {
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Efeito ao passar o mouse
  }
}
