<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Para qual dia?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-icon (click)="voltar()" class="back" name="arrow-back"> </ion-icon>
  <h2 class="title">Para qual dia?</h2>

  <!-- Seção de hora -->
  <div class="custom-hour-section">
    <ion-datetime
      display-format="YYYY-MM-DD HH:mm"
      picker-format="YYYY-MM-DD HH:mm"
      placeholder="Selecione a hora"
      (ionChange)="onDateTimeChange($event)">
    </ion-datetime>
  </div>

  <!-- Botão Continuar -->
  <ion-button expand="block" color="warning" class="continue-button" (click)="continuar()">
    Continuar
  </ion-button>
</ion-content>
