/* Fundo da página */
ion-content {
  --background: #f0f0f0; // Cinza claro para o fundo
  padding: 16px;
}

/* Estilo do cabeçalho */
ion-header {
  ion-toolbar {
    background-color: #FF8902; // Laranja para o cabeçalho
    color: #ffffff; // Texto branco

    ion-title {
      font-weight: bold;
      color: #ffffff;
    }

    ion-back-button {
      color: #ffffff; // Botão de voltar em branco
    }
  }
}

/* Título principal */
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #FF8902; // Cor laranja
  margin: 10px 0 20px;
}

/* Botão Continuar */
.continue-button {
  --background: #FF8902; // Cor laranja
  --color: #ffffff; // Texto branco
  font-size: 16px;
  font-weight: bold;
  --border-radius: 8px;
  margin-top: 20px;
}

/* Estilo do ícone de voltar */
